/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.section-title{
    color: #131318;
    font-weight: 800;
}
.dream{
    color: #FF5400;
}
.section-description{
    /* text-align: center; */
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}
.section-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}
.primary-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 34px;
    border: 0;
}

/*****
 Navbar style
 *****/

.header{
    padding: 52px 127px 0 135px;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo img {
    margin-right: 16px;
}
.nav-logo h3{
    font-size: 36px;
}
#home{
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-items ul{
    display: flex;
}
.list-items li {
    list-style: none;
    margin-left: 54px;
}
.list-items li a{
    text-decoration: none;
}

/* banner style */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("./images/Group-13-1-1.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 106px 0 106px 0;
    margin-top: 50px;
    color: #FFF;
}
.banner > h2 {
    font-size: 4rem;
    font-weight: 800;
}
.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    gap: 24px;
    transform: translateX(220px);
    max-width: 768px;
    padding: 16px;
}    
.banner p {
    margin: 24px 0 48px 0;
    color: #FFF;
}

.input-section p {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 16px;
}
.input-section input::placeholder{
    padding: 16px 0 16px 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.input-section .button{
    font-size: 16px;
    font-weight: 700;
    background: #FF5400;
    color: #FFF;
}
.input-section input{
    height: 52px;
    width: 174px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

/* Our Popular Tour */
.popular-tour-main{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 135px 0 135px;
    max-width: 1170px;
    margin-top: 100px;
}
.popular-tour-main .popular-description{
    margin: 24px 0 24px 0;
}
.tour-description{
    margin: 24px 0 32px 0;
    color: #5A5A5D;
}
.list-content{
    padding-left: 25px;
}
.list-content li{
    margin-bottom: 16px ;
}

/* Choose Your Destination */
section.destination-main.container {
    text-align: center;
    margin-top: 100px;
}
.destination-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.destination-img{
    width: 573px;
    height: 300px;
    background-size: cover;
    object-fit: cover;
    color: #FFF;
}
.srilanka, .america, .kashmir{
    height: 286px;
}
.maldives{
    background-image: url("./images/Rectangle-5.png");
    
}
.indonesia{
    background-image: url("./images/Rectangle-8.png");
}
.srilanka{
    background-image: url("./images/Rectangle-6.png");
    width: 374px;
}
.america{
    background-image: url("./images/Rectangle-7.png");
    width: 474px;
}
.kashmir{
    background-image: url("./images/Rectangle-9.png");
    width: 274px;
}
.bangladesh{
    background-image: url("./images/Rectangle-11.png");
    width: 473px;
}
.bandarban{
    background-image: url("./images/Rectangle-10.png");
    width: 673px;
}
.indo-place{
    transform: translateY(130px);
}
.destination-img > div{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.destination-main > p{
    margin: 24px 0 48px 0;
}
/* Media Query */
/* Mobile devices */
@media screen and (max-width:600px){
    .header, .popular-tour-main{
        padding: 10px;
    }

    .nav-main, .list-items ul, .popular-tour-main{
        flex-direction: column;
    }
    .list-items ul{
        visibility: hidden;
    }
    .banner{
        margin-top: 0;
        padding: 0 10px 0 10px;
        background-position: center;
    }
    .banner > h2{
        font-size: 2.2rem;
    }
    .input-section{
        flex-wrap: wrap;
        transform: translateY(-30px);
        gap: 10px;
    }
    .tour-img img{
        width: 100%;
    }
    .destination-img{
        background-size: 100%;
        background-repeat: no-repeat;
        width: 573px;
        height: 300px;
    }
}
/*  */
/* @media screen and (min-width:992px){
    
} */