/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.dream{
    color: #FF5400;
}
.section-description{
    /* text-align: center; */
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}
.section-title{
    color: #131318;
    font-size: 2.3rem;
    font-weight: 800;

}
.primary-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 34px;
    border: 0;
}

/*****
 Navbar style
 *****/

.header{
    padding: 52px 127px 0 135px;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo img {
    margin-right: 16px;
}
.nav-logo h3{
    font-size: 2.1rem;
}
#home{
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-items ul{
    display: flex;
}
.list-items li {
    list-style: none;
    margin-left: 54px;
}
.list-items li a{
    text-decoration: none;
}

/***** banner style*******/

.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("./images/Group-13-1-1.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 106px 0 106px 0;
    margin-top: 50px;
    color: #FFF;
}
.banner > h2 {
    font-size: 4rem;
    font-weight: 800;
}
.input-section {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    gap: 24px;
    transform: translateX(175px);
    max-width: 70%;
    padding: 16px;
}
.input-area{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 8px;
    padding: 14px;
    width: 174px;
    height: 52p;
} 
.search{
    background: #FF5400;
    gap: 8px;
}  
.banner p {
    margin: 24px 0 48px 0;
    color: #FFF;
}

.input-section p {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 16px;
}
.input-section input::placeholder{
    padding: 16px 0 16px 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}
.input-section .button{
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    background: #FF5400;
}
.input-section input{
    border-radius: 8px;
    border: 0;
}

/***** 
Our Popular Tour style
*******/

.popular-tour-main{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 135px 0 135px;
    max-width: 1170px;
    margin-top: 100px;
}
.popular-tour-main .popular-description{
    margin: 24px 0 24px 0;
}
.tour-description{
    margin: 24px 0 32px 0;
    color: #5A5A5D;
}
.list-content{
    padding-left: 25px;
}
.list-content li{
    margin-bottom: 16px ;
}

/****** Choose Your Destination ****/

/** Shared Style with why-choose-us-main**/
section.destination-main.container, .why-choose-us-main { 
    text-align: center;
    margin-top: 100px;
}
.destination-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.destination-img{
    width: 573px;
    height: 300px;
    background-size: cover;
    object-fit: cover;
}
.srilanka, .america, .kashmir{
    height: 286px;
}
.maldives{
    background-image: url("./images/Rectangle-5.png");
    
}
.indonesia{
    background-image: url("./images/Rectangle-8.png");
}
.srilanka{
    background-image: url("./images/Rectangle-6.png");
    width: 374px;
}
.america{
    background-image: url("./images/Rectangle-7.png");
    width: 474px;
}
.kashmir{
    background-image: url("./images/Rectangle-9.png");
    width: 274px;
}
.bangladesh{
    background-image: url("./images/Rectangle-11.png");
    width: 473px;
}
.bandarban{
    background-image: url("./images/Rectangle-10.png");
    width: 673px;
}
.indo-place{
    transform: translateY(130px);
}
.destination-img > div{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;

}

/** Shared **/
.destination-main > p , .why-choose-us-main > p{
    margin: 24px 0 48px 0;
}

/**** 
Why Choose Us style
******/

.why-choose-us-main > p{
    width: 643px;
}
.cards-main{
    display: flex;
    gap: 24px;
    text-align: left;
}
.cards-main .cards h4 , .card-price > h4{
    margin-top: 32px;
    margin-bottom: 16px;
}
.cards{
    width: 573px;
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
}
.why-choose-us-main .cards-main p{
    width: 486px;
}
.card-hotel{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card-services{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-price{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    transform: translateX(40%);
    text-align: left;
    margin-top: 24px;
}

.why-choose-us-main > p{
    transform: translateX(40%);
}


/* News letter styles */
.newsletter-section{
    display: flex;
    margin-top: 100px;
    gap: 24px;
}
.form-main{
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 40%;
    padding: 20px;
}
.form-main > h4{
    font-size: 1.5rem;
}
.form-main form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form-main input{
     height: 52px;
     border: 0;
     border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.form-main input::placeholder {
    padding-left: 20px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
}
.form-content {
    margin: 16px 0 24px 0;
    width: 80%;
}
.form-main form{
    padding-top: 24px;
    border: 1px solid rgba(19, 19, 24, 0.10);
    border-left: 0;
    border-right: 0;
}
.coupon-link-main{
    background-image: url("./images/Rectangle-8-1.png");
    width: 672px;
    border-radius: 16px;
    background-size: cover;
    height: 422px;
    position: relative;
}
.coupon-link{
    width: 324px;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 45%;
    padding: 20px 10px;
    transform: rotate(-19.628deg);
}
.coupon-link-main .coupon-link > p{
    font-size: 1.5rem;
    font-weight: 400;
}
.coupon-link-main .coupon-link > h3{
    font-size: 2rem;
    font-weight: 800;
}

/****Footer Section Style****/
.footer-main{
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}
footer{
    text-align: center;
    padding: 110px 0 110px 0;
}
.footer-content{
    margin: 15px 0 33px 0;
    width: 769px;
    display: inline-block;
}
.social-icons{
    padding-bottom: 73px;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}
.copy-right{
    margin-top: 50px;
}



/* Media Query */
/* Mobile devices */
@media screen and (max-width:600px){
    .header, .popular-tour-main{
        padding: 10px;
    }

    .nav-main, .list-items ul, .popular-tour-main, .cards-main{
        flex-direction: column;
    }
    .list-items ul{
        visibility: hidden;
    }
    .banner{
        margin-top: 0;
        padding: 0 20px 0 20px;
        background-position: center;
    }
    .banner > h2{
        font-size: 2.2rem;
    }
    .input-section{
        flex-wrap: wrap;
        transform: translate(35px,-37px);
        gap: 10px;
    }
    .tour-img img{
        width: 100%;
    }
    .destination-img{
        background-size: 100%;
        background-repeat: no-repeat;
        width: 573px;
        height: 300px;
    }
    .destination-main{
        padding: 0 20px 0 20px;
    }
    .why-choose-us-main{
        padding: 0 10px 0 10px;
    }
    .why-choose-us-main > p, .why-choose-us-main .cards-main p {
        transform: none;
        width: 100%;
    }
    .card-price{
        transform: translateY(24px);
    }
    .cards{
        width: 80%;
    }
    .newsletter-section{
        flex-direction: column;
        padding: 0 10px 0 10px;
    }

    .coupon-link-main{
        width: 100%;
        background-position-x: -155px;
        background-repeat: no-repeat;
        height: 460px;
    }
    .form-main{
        width: 90%;
    }
    .coupon-link{
        left: 22%;
        top: 60%;
        width: 70%;
    }
    .footer-content{
        width: 90%;
    }
    .footer-logo{
        flex-direction: column;
    }
}
/*  */
/* @media screen and (min-width:992px){
    
} */